<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <h1>Employee Search</h1>
</header>

<section>
    <form class="example" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Search by Employee ID" name="search" style="margin:auto;max-width:500px"
       [(ngModel)]="employeeId">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

<section [hidden]="!errorOccurred">
    <h2 id="errorMessage">{{errorMessage}}</h2>
</section>

<div *ngIf="submitted==true">
  <section [hidden]="!submitted">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <th class="field">EmployeeID</th>
        <th class="field">EmployeeName</th>
        <th class="field">DepartmentID</th>
        <th class="field">DepartmentName</th>
      </thead>
      <tbody class="thead-light">
        <td class="value">{{employeeDetails.empId}}</td>
        <td class="value">{{employeeDetails.empName}}</td>
        <td class="value">{{employeeDetails.department.deptId}}</td>
        <td class="value">{{employeeDetails.department.deptName}}</td>
      </tbody>
    </table>
</section>
</div>

<router-outlet></router-outlet>
